*{   
    margin: 0;
    padding: 0;
}
header{
    background-color: #000;
}

.toggle{
    color: #2a5ea4;
    
}

.fas.fa-sliders-h.toggle:hover {
    color: #ff3334;
}
.nav-menu img{
    width: 55px;
}
.nav-menu a{
    color: #fff;
}
.nav-menu a:hover{
    color: #41778f;
}
.banner{
    background-image: url(../image/snowboarding-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.heading{
    height: 700px;
    justify-content: center;
}

.content h1{
    color: #fff;
    width: 68%;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
}
.btn-custom{
    background-color: #000;
    border: none;
    border-radius: 0;
    padding: 8px 15px;
    float: right;
    margin-right: 106px;    
    margin-top: 30px;
}



.snowboard h1{
    text-transform: uppercase;
    font-weight: 800;
}
.snowboard p{     
    margin: 30px 0;
}
.slide{
    margin-bottom: 100px;
    text-align: center;
}
.mountain{
    background-image: url(../image/snowboarding-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.mountain-heading{
    height: 800px;
    align-items: center;
}

    

.mountain-content h1{
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
.mountain-content p{
    color: #fff;
    line-height: 28px;
    margin-top: 40px;
    font-size: 14px;
}


.feature h1{
    text-transform: uppercase;
    font-weight: 800;
}



.icon i{
    font-size: 45px;
    margin-top: 30px;
}
.feauture-img{
    margin-bottom: 100px;
}
.feauture-img img{    
    width: 100%;
}
.feauture-img p{
    font-size: 20px;
}
.footer-content{
    background-color: #000;
}

    

.footer-menu h4{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}



.footer-menu ul li{
    list-style: none;
    padding-top: 10px;
}
.footer-menu ul li a{
    color: #fff;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: #41778f;
}
.footer-menu input{
    border: none;
    border-radius: 0;
    margin-top: 10px;
}
.footer-menu button{
    background-color: #c7c7c7;
    border: none;
    border-radius: 0;
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}

.footer-icon{
    margin-top: 50px;
}
.footer-icon a{
    padding-right: 30px;
    color: #fff;
}



.footer-icon a:hover{
    color: #41778f;
}



.footer-text p{
    color: #fff;
}
.footer-text a{
    color: #fff;
    text-decoration: none;
}
.footer-text a:hover{
    color: #41778f;
}